/* GF heidelpay admin styling */

select[name="_gaddon_setting_currency"] {
	font-family: Consolas, Monaco, monospace;
}

#gaddon-setting-row-delayNotifications .heidelpay-notification-checkbox {
	margin-left: 2em;
}

#heidelpay-enabled-methods-creditcards li {
	margin-left: 2em;
}

#heidelpay-enabled-methods-creditcards li:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
}

.column-feedItem_useTest {
	width: 6em;
}

/* for GF < 2.5 */
.gform_tab_content h3 .gf-heidelpay-svg {
	fill: #0074a2;
	height: 1em;
}
